body {
    min-height:100vh;
    margin:0;
    font-family:sans-serif;
}
.nav {
    z-index:10;
    background:rgb(223, 223, 223);
    height:75px;
    width:100%;
    justify-items:center;
}
.stopwatch {
    position: relative;
    border: solid black 3px;
    border-radius: 5px;
    width: min-content;
}
.stopwatch ul {
    padding: 10px;
    margin: 10px;
    list-style: none;
    display: flex;
    font-size: 30px;
}
#stopwatch-buttons {
    display:flex;
    justify-content: center;
}
#s-start {
    margin: 10px;
    padding: 10px;
}
#s-reset {
    margin: 10px;
}
.digital-clock {
    display:flex;
    position:relative;
    background-color:white;
    border:solid 3px;
    border-radius:3px;
    width:min-content;
    z-index:4;
}
.digital-clock ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    font-size: 30px;
}
.alarm {
    display: flex;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
    width:fit-content;
}
.alarm ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-size: 30px;    
}
.nav button {
    font-size: 20px;
    height: 70px;
    width: 70px;
    margin: 3px;
}
.nav div {
    display: inline;
    float: inline-end;
    margin: 20px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
.timer {
    position: relative;
    width:fit-content;
    background-color: white;
    border: solid 3px black;
    border-radius: 5px;
}
.timer ul {
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    font-size: 30px;
}
#timer-buttons {
    display: flex;
    justify-content: center;
}
#t-start {
    padding: 10px;
    margin: 10px;
}
#t-reset {
    margin:10px;
}

.clock {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:white;
    border: 5px solid;
    border-color:black;
}

.clock span {
    z-index: 0;
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 30px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:black;
    z-index: 2;
}
.hand {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i {
    position: absolute;
    background-color: var(--clr);
    border-radius: 2px;
    width: var(--w);
    height: var(--h);
}
body {
    background-color:whitesmoke;
}

